/*MARGIN RESET*/
*{
    margin: 0;
    padding: 0;
}

/*SCROLL*/
html{
    scroll-behavior: smooth;
}

body{
    background-color:  #ffffff;
    font-family: 'Roboto Slab', serif; 
}

/*NAVEGADOR
h1{
    color: #ffffff;
}
.fondoNavegador {
    background-color: #000000;
    position: sticky;
    top: 0;
    display: inline-block;
    width: 100%;
    z-index: 100;
}

.fondoNavegador__navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.fondoNavegador__navegador a{
    text-decoration: none;
    color: #ffffff;
}

.fondoNavegador__navegador a:visited{
    color: #ffffff;
}

.fondoNavegador__navegador a:hover{
    color:#d4d4d4;
}

.fondoNavegador__navegador ul li{
    display: inline-block;
    margin: 10px;
}*/


/*---MOBILE RESPONSIVE DEL NAVEGADOR
@media screen and (max-width: 500px) {

    .fondoNavegador {
        height: 150px;
    }

    .listaNavegador{
        display: flex;
        flex-direction: column;
    } 
}---*/

/*NAVEGADOR BOOTSTRAP*/
.nav-item a{
    color: #ffffff;
}

/*BANNER
.banner {
    height: 555px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 5px 5px  #0f0f0e8a;
    overflow: hidden;
}

.imagenBanner{
    background-image: url(../multimedia/velabannerr.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tituloBanner{
    color: #ffffff;
    font-size: xx-large;
    text-align: center;
}*/

/*BOTON DE VER PRODUCTOS EN BANNER
.imagenBanner a{
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    font-size: large;
    margin: 10px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

.imagenBanner a:hover {
    background-color: #00000088;
}*/

/*BANNER BOOTSTRAP*/

/*TEXTO DEL BANNER CENTRALIZADO*/
.carousel-inner{
    top: 20%;
    text-align: left;
    margin-right: 40%;
}

.captionCenter{
    top: 20%;
    text-align: center;
}

.captionLeft h3{
    text-align: left;
}

/*BOTON DE VER PRODUCTOS*/
.verProductos{
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    font-size: large;
    padding: 8px;
    transition: all 0.2s ease-in-out;
}

.verProductos:hover {
    background-color: #00000088;
    color: #ffffff;
}

/*TITULO DE LÍNEAS*/
h3{
    font-size: xx-large;
    margin: 7% auto 1% auto;
    text-align: center;
}

/*LÍNEA DEBAJO DEL TÍTULO*/
.lineaIndex {
    border-top: 1px solid rgb(0, 0, 0);
    height: 2px;
    max-width: 100px;
    padding: 0;
    margin: 20px auto 0 auto;
}

/*PRODUCTOS*/

.productos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: -1; /*PORQUE EL NAV ME QUEDABA ABAJO*/
}

/*CONTENEDOR DE LAS IMAGENES DEL INDEX*/
.productoContenedorIndex{
    width: 300px;
    height: 400px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;
    background-color: #ffffff15;
    transition: 1s;
}

.productoContenedorIndex:hover{
    box-shadow: 0 0 10px #0000003d;
}

.productoContenedorIndex img{
    width: 100%;
    height: 100%;
    transition: 3s;
    object-fit: cover; /*PARA QUE NO SE DEFORME LA IMAGEN*/
}

.productoContenedorIndex img:hover{
    transform: scale(1.2);
}

.productoContenedorIndex a{
    text-decoration: none;
}

/*CONTENEDOR DE TODAS LAS IMAGENES*/
.productoContenedor{
    width: 300px;
    height: 330px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;
    background-color: #ffffff15;
    transition: 1s;
}

.productoContenedor:hover{
    box-shadow: 0 0 10px #0000003d;
}

.imagenContenedor{
    width: 100%;
    height: 85%;
    transition: 3s;
    overflow: hidden;
}

.productoContenedor img{
    width: 100%;
    height: 100%;
    transition: 3s;
    object-fit: cover;
}

.productoContenedor img:hover{
    transform: scale(1.2);
}

.productoContenedor a{
    text-decoration: none;
}

.textoProducto{
    display: flex;
    flex-direction: column;
    font-size:medium;
    color: #000000;
    padding: 3px 0;
}

/*TEXTO DE TARJETAS MÁS UNIDO*/
.textoProducto p{
    margin-bottom: 5px;
}

.textoProducto:visited{
    color: #000000;
}

/*---MOBILE RESPONSIVE DESIGN PRODUCTOS---*/
@media screen and (max-width: 500px) {

    .productos{
        flex-direction: column;
        align-content: center;
    }
}

/*INFORMACIÓN*/
.contenedorGrid{
    width: 70%;
    margin: 5% auto;
    background-repeat: round;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 10fr 10fr 10fr;
    grid-template-areas:
    "infoSoja imagenSoja"
    "imagenConsejos infoConsejos"
    "infoTerapia imagenTerapia"
    "imagenRefill infoRefill";
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    gap: 30px;
}

/*AREAS ESPECIFICADAS*/
.infoSoja {
    grid-area: infoSoja;
}

.imagenSoja {
    grid-area: imagenSoja;
}

.imagenConsejos {
    grid-area: imagenConsejos;
}

.infoConsejos {
    grid-area: infoConsejos;
}

.infoTerapia {
    grid-area: infoTerapia;
}

.imagenTerapia {
    grid-area: imagenTerapia;
}

.imagenRefill {
    grid-area: imagenRefill;
}

.infoRefill {
    grid-area: infoRefill;
}

/*TEXTO SOJA*/
.infoSoja{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tituloSoja{
    text-align: center;
    color: #000000;
}

.contenedorSoja{
    width: 70%;
}

/*TEXTO CONSEJOS*/
.infoConsejos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tituloConsejos{
    text-align:left;
    color: #000000;
}

.contenedorConsejos{
    width: 70%;
}

/*TEXTO TERAPIA*/
.infoTerapia{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tituloTerapia{
    text-align: justify;
    color: #000000;
}

.contenedorTerapia{
    width: 70%;
}

.listaTerapia{
    text-align: justify;
}

/*TEXTO AREFILL*/
.infoRefill{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tituloRefill{
    text-align: justify;
    color: #000000;
}

.contenedorRefill{
    width: 70%;
}

.listaRefill{
    text-align: justify;
}

/*IMAGEN SOJA*/
.imagenSoja{
    background-image: url(../multimedia/imagensoja.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px; /*AFECTO EL TAMAñO DE TODAS LAS IMG (no se por qué, pero mejor)*/
    transition: 1s;
}

.imagenSoja:hover{
    filter: grayscale(90%);
}

/*IMAGEN CONSEJOS*/
.imagenConsejos{
    background-image: url(../multimedia/imagenconsejos.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 1s;
}

.imagenConsejos:hover{
    filter: grayscale(90%);
}

/*IMAGEN TERAPIA*/
.imagenTerapia{
    background-image: url(../multimedia/imagenterapia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 1s;
}

.imagenTerapia:hover{
    filter: grayscale(90%);
}


/*IMAGEN REFILL*/
.imagenRefill{
    background-image: url(../multimedia/imagenrefill.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 1s;
}

.imagenRefill:hover{
    filter: grayscale(90%);
}

/*---TABLET RESPONSIVE DESIGN INFORMACIÓN---*/
@media screen and (max-width: 768px) {
    .contenedorGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
        grid-template-areas:
        "infoSoja"
        "imagenSoja"
        "infoConsejos"
        "imagenConsejos"
        "infoTerapia"
        "imagenTerapia"
        "infoRefill"
        "imagenRefill";
    } 
}

/*---MOBILE RESPONSIVE DESIGN INFORMACIÓN---*/
@media screen and (max-width: 500px) {
    .contenedorGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 3fr 3fr 3fr;
        grid-template-areas:
        "infoSoja"
        "infoConsejos"
        "infoTerapia"
        "infoRefill";
    }

    .imagenSoja{
        display: none;
    }
    
    .imagenConsejos{
        display: none;
        }
    
    .imagenTerapia{
        display: none;
        }
    
    .imagenRefill{
        display: none;
        } 
}

/*CONTACTO*/

/*BANNER*/
.bannerContacto{
    height: 500px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 5px 5px  #0f0f0e8a;
    margin-bottom: 40px;
    overflow: hidden;
}

.imagenContacto{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom bottom;
    background-image: url(../multimedia/velacontacto.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*MENSAJE Y CONTACTO*/
.contenedorMC{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

/*CENTRA Y SEPARA TÍTULOS*/
h2{
    margin: 30px auto;
    text-align: center;
}

.contenedorMensaje{
    display: flex;
    flex-direction: column;
}

.form{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

input{
    border: none;
    border-bottom: solid 1px #000000;
    width: 400px;
}

textarea{
    border: solid 1px #000000;
}

input, textarea {
    background-color: #ffffff;
    padding: 5px;;
}

.boton{
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    width: 20%;
    background-color: #000000;
    border: none;
}

.textoContacto{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*---MOBILE RESPONSIVE DE CONTACTO---*/
@media screen and (max-width: 500px) {
    .contenedorMC{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .textoContacto{
        text-align: center;
    }

    h2{
        text-align: center;
        margin-top: 80px;
    }

    .imagenContacto{
        display: none;
    }

    .bannerContacto{
        display: none;
    }
    
}

/*--FOOTER--*/
footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #000000;
}

footer p{
    color: #ffffff;
    font-size: large;
    text-align:justify;
}

.redes img{
    width: 50px;
    height: 50px; 
    margin: 10px; 
}

.redes img{
    transition: all 0.2s ease-in-out;
}

.redes img:hover{
    transform: scale(0.8);
}