@charset "UTF-8";
/*Debe ir al principio siempre*/
/*Banner bootstrap index*/
.carousel-item {
  width: 100%;
  height: 500px; }
  .carousel-item img {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%; }

/*Centraliza el texto del primer banner*/
.captionCenter {
  top: 30%;
  text-align: center; }
  .captionCenter h1 {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; }
  .captionCenter p {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; }

/*Mueve a la izquierda el texto del banner 2 y 3*/
.captionLeft {
  text-align: left;
  top: 20%;
  margin-right: 40%; }
  .captionLeft h2 {
    /*título del banner 2 y 3*/
    font-size: xx-large;
    padding-top: 1.5%;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; }
  .captionLeft p {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; }

/*Boton de "Ver productos" del banner*/
.verProductos {
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  color: #ffffff;
  background-color: #212b27;
  font-size: large;
  padding: 8px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px; }
  .verProductos:hover {
    background-color: #516b5f;
    color: #ffffff; }

/*Nuestras líneas*/
.nuestrasLineas {
  font-size: xx-large;
  margin: 7% auto 1% auto;
  text-align: center; }

/*Línea decorativa debajo de "Nuestras líneas"*/
.lineaIndex {
  border-top: 1px solid #000000;
  height: 2px;
  max-width: 100px;
  padding: 0;
  margin: 20px auto 0 auto; }

/*Contenedor de las imagenes del index*/
.productoContenedorIndex {
  width: 420px;
  height: 410px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 1%;
  background-color: #ffffff15;
  transition: 1s;
  border-radius: 5px; }
  .productoContenedorIndex:hover {
    box-shadow: 0 0 15px #0000003d; }
  .productoContenedorIndex img {
    width: 100%;
    height: 100%;
    transition: 3s;
    object-fit: cover;
    /*PARA QUE NO SE DEFORME LA IMAGEN*/ }
    .productoContenedorIndex img:hover {
      transform: scale(1.2);
      filter: brightness(0.3); }
  .productoContenedorIndex a {
    text-decoration: none; }

/*Imagen fija*/
.imagenFija {
  background-image: url(../multimedia/banner/otono.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 300px; }
  .imagenFija h3, .imagenFija p {
    justify-content: center;
    color: #ffffff;
    text-align: center;
    padding-top: 90px;
    text-size-adjust: 30px;
    text-shadow: 1px 1px 2px black; }
  .imagenFija p {
    padding-top: 0; }
  .imagenFija .lineaFija {
    border-top: 1px solid #ffffff;
    height: 2px;
    max-width: 150px;
    padding: 0;
    margin: 20px auto 0 auto; }

/*Esencias*/
.esenciasTexto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px; }
  .esenciasTexto div img {
    height: 40px;
    width: 40px; }

.esenciaIcono {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .esenciaIcono img {
    margin-right: 10px; }

/*Map*/
/*keys / Values*/
.map--tilo:hover {
  background-color: #eec77f;
  border-radius: 50%; }

.map--lavanda:hover {
  background-color: #afa6d8;
  border-radius: 50%; }

.map--melissa:hover {
  background-color: #72a886;
  border-radius: 50%; }

/*Poductos*/
.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: -1;
  /*PORQUE EL NAV ME QUEDABA ABAJO  DE LAS IMG*/ }

/*Contenedor de todas las imagenes*/
.productoContenedor {
  width: 300px;
  height: 330px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 1%;
  background-color: #ffffff15;
  transition: 1s;
  border-radius: 5px; }
  .productoContenedor:hover {
    box-shadow: 0 0 15px #0000003d; }
  .productoContenedor img {
    width: 100%;
    height: auto;
    transition: 3s;
    object-fit: cover; }
    .productoContenedor img:hover {
      transform: scale(1.2);
      filter: opacity(60%); }
  .productoContenedor a {
    text-decoration: none; }

.imagenContenedor {
  width: 100%;
  height: 85%;
  transition: 3s;
  overflow: hidden; }

.textoProducto {
  display: flex;
  flex-direction: column;
  font-size: medium;
  color: #000000;
  padding: 3px 0; }
  .textoProducto p {
    /*Texto de la tarjeta más unido*/
    margin-bottom: 5px; }
  .textoProducto:visited {
    color: #000000; }

/*Información*/
.contenedorGrid {
  width: 70%;
  margin: 5% auto;
  background-repeat: round;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10fr 10fr 10fr 10fr;
  grid-template-areas: "infoSoja imagenSoja" "imagenConsejos infoConsejos" "infoTerapia imagenTerapia" "imagenRefill infoRefill";
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
  gap: 30px; }

/*Areas de grid especificadas para que las ordene*/
.infoSoja {
  grid-area: infoSoja; }

.imagenSoja {
  grid-area: imagenSoja; }

.imagenConsejos {
  grid-area: imagenConsejos; }

.infoConsejos {
  grid-area: infoConsejos; }

.infoTerapia {
  grid-area: infoTerapia; }

.imagenTerapia {
  grid-area: imagenTerapia; }

.imagenRefill {
  grid-area: imagenRefill; }

.infoRefill {
  grid-area: infoRefill; }

/*Soja texto*/
.infoSoja {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.tituloSoja {
  text-align: center;
  color: #000000; }

.contenedorSoja {
  width: 90%; }

/*Consejos texto*/
.infoConsejos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.tituloConsejos {
  text-align: left;
  color: #000000; }

.contenedorConsejos {
  width: 90%; }

/*Terapia texto*/
.infoTerapia {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.tituloTerapia {
  text-align: justify;
  color: #000000; }

.contenedorTerapia {
  width: 90%; }

.listaTerapia {
  text-align: justify; }

/*Refill texto*/
.infoRefill {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.tituloRefill {
  text-align: justify;
  color: #000000; }

.contenedorRefill {
  width: 90%; }

.listaRefill {
  text-align: justify; }

/*Soja img*/
.imagenSoja {
  background-image: url(../multimedia/informacion/imagensoja.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  /*AFECTO EL TAMAñO DE TODAS LAS IMG (no se por qué, pero mejor)*/
  transition: 1s; }
  .imagenSoja:hover {
    filter: grayscale(90%); }

/*Consejos img*/
.imagenConsejos {
  background-image: url(../multimedia/informacion/imagenconsejos.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1s; }
  .imagenConsejos:hover {
    filter: grayscale(90%); }

/*Terapia img*/
.imagenTerapia {
  background-image: url(../multimedia/informacion/imagenterapia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1s; }
  .imagenTerapia:hover {
    filter: grayscale(90%); }

/*Refill img*/
.imagenRefill {
  background-image: url(../multimedia/informacion/imagenrefill2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1s; }
  .imagenRefill:hover {
    filter: grayscale(90%); }

/*Contacto bootstrap*/
/*Banner contacto*/
.bannerContacto {
  height: 500px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 10px 5px 5px  #181f1cab;
  overflow: hidden; }

.imagenContacto {
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom bottom;
  background-image: url(../multimedia/banner/velacontacto.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: cover; }

.btnContacto {
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  color: #ffffff;
  background-color: #212b27;
  padding: 8px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  border: none; }
  .btnContacto:hover {
    background-color: #516b5f;
    color: #ffffff; }

.lineaContacto {
  border-top: 1px solid black;
  height: 2px;
  max-width: 60px;
  margin: 20px 0; }

/*Margin reset*/
* {
  margin: 0;
  padding: 0; }

/*Font y background color*/
body {
  background-color: #ffffff;
  font-family: 'Roboto Slab', serif; }

/*Scroll*/
html {
  scroll-behavior: smooth; }

/*Bold*/
.font-weight {
  font-weight: bold; }

/*Navegador Bootstrap*/
.navbar {
  background-color: #212b27; }

.navbar-brand img {
  width: 120px;
  height: auto; }

.nav-item a {
  color: #ffffff; }

.tituloNav {
  color: #ffffff; }

/*Mixin*/
/*Sticky Whatsaap*/
.stickyBtn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 1000; }
  .stickyBtn a img {
    width: 60px;
    height: 60px; }

/*Footer bootstrap*/
footer {
  background-color: #212b27;
  padding-top: 30px;
  padding-bottom: 20px; }

.footerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #ffffff; }

.contenedorRedes {
  display: flex;
  flex-direction: row; }

/*Mixin*/
.redes img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: all 0.2s ease-in-out; }
  .redes img:hover {
    transform: scale(0.8); }

.copyright {
  color: #a1a1a1;
  text-align: center;
  padding-top: 10px; }

.lineasFooter {
  border-top: 1px solid white;
  height: 2px;
  max-width: 60px;
  margin: 20px 0; }

.lineaFooter {
  border-top: 1px solid #fdfdfd;
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 20px auto 0 auto;
  padding-top: 10px;
  padding-bottom: 10px; }

/*MOBILE RESPONSIVE DESIGN BANNER INDEX*/
@media screen and (max-width: 500px) {
  .carousel {
    display: none; } }

/*MOBILE RESPONSIVE DESIGN ESENCIAS*/
@media screen and (max-width: 500px) {
  .esenciasTexto {
    flex-direction: column;
    align-content: center; } }

/*---MOBILE RESPONSIVE DESIGN PRODUCTOS---*/
@media screen and (max-width: 500px) {
  .productoContenedor {
    width: 200px;
    height: 230px;
    align-content: space-around;
    margin-bottom: 30px; }
  .productos {
    flex-direction: column;
    align-content: center;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto; } }

/*---MOBILE RESPONSIVE DESIGN LINEAS DEL INDEX y MARGIN DE LA IMAGEN FIJA---*/
@media screen and (max-width: 500px) {
  .productoContenedorIndex {
    align-content: center;
    width: 80%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }
  .imagenFija {
    margin-top: 60px; } }

/*---TABLET RESPONSIVE DESIGN INFORMACIÓN---*/
@media screen and (max-width: 768px) {
  .contenedorGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-areas: "infoSoja" "imagenSoja" "infoConsejos" "imagenConsejos" "infoTerapia" "imagenTerapia" "infoRefill" "imagenRefill"; } }

/*---MOBILE RESPONSIVE DESIGN INFORMACIÓN---*/
@media screen and (max-width: 500px) {
  .contenedorGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1.50fr 1.30fr 3.30fr 1.30fr 1.30fr 1.30fr 1.80fr 1.30fr;
    grid-column-gap: 10px;
    grid-template-areas: "infoSoja" "imagenSoja" "infoConsejos" "imagenConsejos" "infoTerapia" "imagenTerapia" "infoRefill" "imagenRefill"; }
  .imagenSoja {
    height: 100%; }
  .imagenConsejos {
    height: 100%; }
  .imagenTerapia {
    height: 100%; }
  .imagenRefill {
    height: 100%; } }

/*---TABLET RESPONSIVE DESIGN CONTACTO---*/
@media (max-width: 820px) {
  .imagenContacto {
    background-image: url(../multimedia/banner/velacontactoresponsive.jpg); } }

/*---MOBILE RESPONSIVE DESIGN CONTACTO---*/
@media (max-width: 570px) {
  .nosotrosTitulo {
    padding-top: 3rem; }
  .contactoTitulo {
    padding-top: 3rem; }
  .containerContacto {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  /*columna*/
  .d-flex {
    display: flex;
    flex-direction: column; } }

/*---MOBILE RESPONSIVE DESIGN FOOTER---*/
@media screen and (max-width: 600px) {
  .footerFlex {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; }
  .lineasFooter {
    display: none; }
  .ubicacionFooter {
    margin-top: 20px; }
  .redesFooter {
    margin-top: 20px; }
  .contactoFooter {
    margin-top: 20px; } }

/*Debe ir al final*/
