/*Contacto bootstrap*/

/*Banner contacto*/
.bannerContacto{
    height: 500px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 5px 5px  #181f1cab;
    overflow: hidden;
}

.imagenContacto{
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom bottom;
    background-image: url(../multimedia/banner/velacontacto.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.btnContacto{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-decoration: none;
    color: #ffffff;
    background-color: $colorPrincipal;
    padding: 8px 15px;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    border: none;
    &:hover{
        background-color: #516b5f;
        color: #ffffff;
    }
}

.lineaContacto {
    border-top: 1px solid rgb(0, 0, 0);
    height: 2px;
    max-width: 60px;
    margin: 20px 0;
}