/*Banner bootstrap index*/
.carousel-item{
    width: 100%;
    height: 500px;
    img{
        background-repeat: no-repeat;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/*Centraliza el texto del primer banner*/
.captionCenter{
    top: 30%;
    text-align: center;
    h1{
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    p{
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    }

/*Mueve a la izquierda el texto del banner 2 y 3*/
.captionLeft{
    text-align: left;
    top: 20%;
    margin-right: 40%;
    h2{ /*título del banner 2 y 3*/
        font-size: xx-large;
        padding-top: 1.5%;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    p{
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    }

/*Boton de "Ver productos" del banner*/
.verProductos{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-decoration: none;
    color: #ffffff;
    background-color: $colorPrincipal;
    font-size: large;
    padding: 8px;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    &:hover{
        background-color: #516b5f;
        color: #ffffff;
        box-shadow: 2px 2px $colorPrincipal, 3px 3px $colorPrincipal, 3px 3px $colorPrincipal;
        transform: translateX(-3px);
    }
}

/*Nuestras líneas*/
.nuestrasLineas{
    font-size: xx-large;
    margin: 7% auto 1% auto;
    text-align: center;;
}

/*Línea decorativa debajo de "Nuestras líneas"*/
.lineaIndex {
    border-top: 1px solid #000000;
    height: 2px;
    max-width: 100px;
    padding: 0;
    margin: 20px auto 0 auto;
}

/*Contenedor de las imagenes del index*/
.productoContenedorIndex{
    width: 420px;
    height: 410px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;
    background-color: #ffffff15;
    transition: 1s;
    border-radius: 5px;
    &:hover{
        box-shadow: 0 0 15px #0000003d;
    }
    img{
    width: 100%;
    height: 100%;
    transition: 3s;
    object-fit: cover; /*PARA QUE NO SE DEFORME LA IMAGEN*/
        &:hover{
            transform: scale(1.2);
            filter: brightness(0.30);
        }
    }
    a{
        text-decoration: none;
    }
}

/*Imagen fija*/
.imagenFija{
    background-image: url(../multimedia/banner/otono.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    
    h3{
        justify-content: center;
        color: #ffffff;
        text-align: center;
        padding-top: 90px;
        text-size-adjust: 30px;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    p{
        @extend h3;
        padding-top: 0;
    }
    .lineaFija{
    border-top: 1px solid #ffffff;
    height: 2px;
    max-width: 150px;
    padding: 0;
    margin: 20px auto 0 auto;
    }
}

/*Esencias*/
.esenciasTexto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    div{
        img{
            height: 40px;
            width: 40px;
        }
    }
}

.esenciaIcono{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        margin-right: 10px;
    }
}

/*Map*/
/*keys / Values*/
$esencias:(
    tilo: #eec77f,
    lavanda: #afa6d8,
    melissa: #72a886,
);

@each $key, $value in $esencias{
    .map--#{$key}{
        &:hover{
            background-color: $value;
            border-radius: 50%;
        }
    }
}