/*MOBILE RESPONSIVE DESIGN BANNER INDEX*/

@media screen and (max-width: 500px) {

    .carousel{
        display: none;
    }
}

/*MOBILE RESPONSIVE DESIGN ESENCIAS*/

@media screen and (max-width: 500px) {

    .esenciasTexto{
        flex-direction: column;
        align-content: center;
    }
}

/*---MOBILE RESPONSIVE DESIGN PRODUCTOS---*/
@media screen and (max-width: 500px) {

    .productoContenedor{
        width: 200px;
        height: 230px;
        align-content: space-around;
        margin-bottom: 30px;
    }
    .productos{
        flex-direction: column;
        align-content: center;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

/*---MOBILE RESPONSIVE DESIGN LINEAS DEL INDEX y MARGIN DE LA IMAGEN FIJA---*/
@media screen and (max-width: 500px) {

    .productoContenedorIndex{
        align-content: center;
        width: 80%;
        height: auto;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .imagenFija {
        margin-top: 60px;
    }
}

/*---TABLET RESPONSIVE DESIGN INFORMACIÓN---*/
@media screen and (max-width: 768px) {
    .contenedorGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
        grid-template-areas:
        "infoSoja"
        "imagenSoja"
        "infoConsejos"
        "imagenConsejos"
        "infoTerapia"
        "imagenTerapia"
        "infoRefill"
        "imagenRefill";
    } 
}

/*---MOBILE RESPONSIVE DESIGN INFORMACIÓN---*/
@media screen and (max-width: 500px) {
    .contenedorGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1.50fr 1.30fr 3.30fr 1.30fr 1.30fr 1.30fr 1.80fr 1.30fr;
        grid-column-gap: 10px;
        grid-template-areas:
        "infoSoja"
        "imagenSoja"
        "infoConsejos"
        "imagenConsejos"
        "infoTerapia"
        "imagenTerapia"
        "infoRefill"
        "imagenRefill";
    }

    .imagenSoja{
        height: 100%;
    }
    
    .imagenConsejos{
        height: 100%;
        }
    
    .imagenTerapia{
        height: 100%;
        }
    
    .imagenRefill{
        height: 100%;
        } 
    
}

/*---MOBILE RESPONSIVE DESIGN CONTACTO---*/

@media (max-width: 570px) {

    .nosotrosTitulo{
        padding-top: 3rem;
    }

    .contactoTitulo{
        padding-top: 3rem;
    }

    .containerContacto{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    /*columna*/
    .d-flex{
        display: flex;
        flex-direction: column;
    }
}

/*---MOBILE RESPONSIVE DESIGN FOOTER---*/
@media screen and (max-width: 600px) {
    .footerFlex{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center
    }
    .lineasFooter{
        display: none;
    }

    .ubicacionFooter{
        margin-top: 20px;
    }

    .redesFooter{
        margin-top: 20px;
    }

    .contactoFooter{
        margin-top: 20px;
    }
}