@import "variables"; /*Debe ir al principio siempre*/
@import "contacto";
@import "informacion";

/*MARGIN RESET*/
*{
    margin: 0;
    padding: 0;
}

/*Scroll*/
html{
    scroll-behavior: smooth;
}

body{
    background-color:  #ffffff;
    font-family: 'Roboto Slab', serif; 
}

/*Navegador Bootstrap*/
.navbar{
    background-color: $colorPrincipal;
}

.navbar-brand{
    img{
        width:120px;
        height: auto;
    }
}

.nav-item a{
    color: #ffffff;
}

.tituloNav{
    color: #ffffff;
}

/*Banner bootstrap index*/
.carousel-item{
    width: 100%;
    height: 500px;
    img{
        background-repeat: no-repeat;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/*Centraliza el texto del banner 1*/
.captionCenter{
    top: 30%;
    text-align: center;
    h1{
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    p{
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    }

/*Mueve a la izquierda el texto del banner 2 y 3*/
.captionLeft{
    text-align: left;
    top: 20%;
    margin-right: 40%;
    h2{ /*título del banner 2 y 3*/
        font-size: xx-large;
        padding-top: 1.5%;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    p{
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    }

/*Boton de "Ver productos" del banner*/
.verProductos{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-decoration: none;
    color: #ffffff;
    background-color: $colorPrincipal;
    font-size: large;
    padding: 8px;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    &:hover{
        background-color: #516b5f;
        color: #ffffff;
        box-shadow: 2px 2px $colorPrincipal, 3px 3px $colorPrincipal, 3px 3px $colorPrincipal;
        transform: translateX(-3px);
    }
}

/*Imagen fija*/
.imagenFija{
    background-image: url(../multimedia/banner/otono.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    
    h3{
        justify-content: center;
        color: #ffffff;
        text-align: center;
        padding-top: 90px;
        text-size-adjust: 30px;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    p{
        @extend h3;
        padding-top: 0;
    }
    .lineaFija{
    border-top: 1px solid #ffffff;
    height: 2px;
    max-width: 150px;
    padding: 0;
    margin: 20px auto 0 auto;
    }
}

/*Esencias*/
.esenciasTexto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    div{
        img{
            height: 40px;
            width: 40px;
        }
    }
}

.esenciaIcono{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        margin-right: 10px;
    }
}

/*Nuestras líneas*/
.nuestrasLineas{
    font-size: xx-large;
    margin: 7% auto 1% auto;
    text-align: center;;
}

/*Línea decorativa debajo de "Nuestras líneas"*/
.lineaIndex {
    border-top: 1px solid #000000;
    height: 2px;
    max-width: 100px;
    padding: 0;
    margin: 20px auto 0 auto;
}

/*Poductos*/
.productos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: -1; /*PORQUE EL NAV ME QUEDABA ABAJO  DE LAS IMG*/
}

/*Contenedor de las imagenes del index*/
.productoContenedorIndex{
    width: 420px;
    height: 410px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;
    background-color: #ffffff15;
    transition: 1s;
    border-radius: 5px;
    &:hover{
        box-shadow: 0 0 15px #0000003d;
    }
    img{
    width: 100%;
    height: 100%;
    transition: 3s;
    object-fit: cover; /*PARA QUE NO SE DEFORME LA IMAGEN*/
        &:hover{
            transform: scale(1.2);
            filter: brightness(0.30);
        }
    }
    a{
        text-decoration: none;
    }
}

/*Contenedor de todas las imagenes*/
.productoContenedor{
    width: 300px;
    height: 330px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;
    background-color: #ffffff15;
    transition: 1s;
    border-radius: 5px;
    &:hover{
        box-shadow: 0 0 15px #0000003d;
    }
    img{
        width: 100%;
        height: auto;
        transition: 3s;
        object-fit: cover;
        &:hover{
            transform: scale(1.2);
            filter: opacity(60%);
        }
    }
    a{
        text-decoration: none;
    }
}

.imagenContenedor{
    width: 100%;
    height: 85%;
    transition: 3s;
    overflow: hidden;
}

.textoProducto{
    display: flex;
    flex-direction: column;
    font-size:medium;
    color: #000000;
    padding: 3px 0;
    p{ /*Texto de la tarjeta más unido*/
        margin-bottom: 5px;
    }
    &:visited{
        color: #000000;
    }
}

/*Mixin*/
@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}
/*Sticky Whatsaap*/
.stickyBtn{
    position: fixed;
    bottom: 30px;
    right:20px;
    z-index: 1000;
    a{
    img{
        @include sizes (60px, 60px)
        }
    }
}

/*Footer bootstrap*/
footer{
    background-color: $colorPrincipal;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footerFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
}

.contenedorRedes{
    display: flex;
    flex-direction: row;
}

/*Mixin*/
@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}
.redes img{
    @include sizes (40px, 40px);
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    &:hover{
        transform: scale(0.8);
    }
}

.copyright{
    color: #a1a1a1;
    text-align: center;
    padding-top: 10px;
}

.lineasFooter {
    border-top: 1px solid rgb(255, 255, 255);
    height: 2px;
    max-width: 60px;
    margin: 20px 0;
}

.lineaFooter{
    border-top: 1px solid rgb(253, 253, 253);
    height: 2px;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Map*/
/*keys / Values*/
$esencias:(
    tilo: #eec77f,
    lavanda: #afa6d8,
    melissa: #72a886,
);

@each $key, $value in $esencias{
    .map--#{$key}{
        &:hover{
            background-color: $value;
            border-radius: 50%;
        }
    }
}

@import "media"; /*Debe ir al final*/