@import "variables"; /*Debe ir al principio siempre*/
@import "index";
@import "productos";
@import "informacion";
@import "contacto";

/*Margin reset*/
*{
    margin: 0;
    padding: 0;
}

/*Font y background color*/
body{
    background-color:  #ffffff;
    font-family: 'Roboto Slab', serif; 
}

/*Scroll*/
html{
    scroll-behavior: smooth;
}

/*Bold*/
.font-weight{
    font-weight: bold;
}

/*Navegador Bootstrap*/
.navbar{
    background-color: $colorPrincipal;
}

.navbar-brand{
    img{
        width:120px;
        height: auto;
    }
}

.nav-item a{
    color: #ffffff;
}

.tituloNav{
    color: #ffffff;
}

/*Mixin*/
@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

/*Sticky Whatsaap*/
.stickyBtn{
    position: fixed;
    bottom: 30px;
    right:20px;
    z-index: 1000;
    a{
    img{
        @include sizes (60px, 60px)
        }
    }
}

/*Footer bootstrap*/
footer{
    background-color: $colorPrincipal;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footerFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
}

.contenedorRedes{
    display: flex;
    flex-direction: row;
}

/*Mixin*/
@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

.redes img{
    @include sizes (40px, 40px);
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    &:hover{
        transform: scale(0.8);
    }
}

.copyright{
    color: #a1a1a1;
    text-align: center;
    padding-top: 10px;
}

.lineasFooter {
    border-top: 1px solid rgb(255, 255, 255);
    height: 2px;
    max-width: 60px;
    margin: 20px 0;
}

.lineaFooter{
    border-top: 1px solid rgb(253, 253, 253);
    height: 2px;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

@import "media"; /*Debe ir al final*/